@model ScraperDb.Models.PortfolioInfo

@{
    ViewData["Title"] = "Details";
}
<div class="container body-content">
    
<h2>Details</h2>

    <h4>Portfolio Information as of @Html.DisplayFor(model => model.DatePulled)
</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NetWorth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetWorth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DayGain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayGain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DayGainPercentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayGainPercentage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalGain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalGain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalGainPercentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalGainPercentage)
        </dd>
    </dl>

        <h4>Current Holdings</h4>
    <table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["SymbolParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].StockSymbol)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["CurrentPriceParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].CurrentPrice)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["PriceChangeParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].PriceChange)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["PriceChangePercentageParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].PriceChangePercentage)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["SharesParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].Shares)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["CostBasisParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].CostBasis)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["MarketValueParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].MarketValue)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["DayGainParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].DayGain)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["DayGainPercentageParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].DayGainPercentage)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["TotalGainParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].TotalGain)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["TotalGainPercentageParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].TotalGainPercentage)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["LotsParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].Lots)</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["NotesParm"]">@Html.DisplayNameFor(model => model.StockInfo[0].Notes)</a>
            </th>
            <th></th>
    </tr>
    </thead>
        <tbody>
        @foreach (var item in Model.StockInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockSymbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceChangePercentage)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.Shares)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.CostBasis)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.MarketValue)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.DayGain)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.DayGainPercentage)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.TotalGain)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.TotalGainPercentage)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.Lots)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <button type = "button" class = "btn btn-primary"><a style = "color: white" asp-action="Index">Back to Portfolio Snapshots</a></button>
</div>
</div>