@model IEnumerable<ScraperDb.Models.PortfolioInfo>

@{
    ViewData["Title"] = "Stock Portfolio Snapshots";
}

<h2>Stock Portfolio Snapshots</h2>
     <form asp-action="Create">

            <input type="submit" style="color: white" value="Retrieve New Portfolio Snapshot" class="btn btn-primary"/>
    </form>

<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.DatePulled)</a>
                </th>
                <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NetworthParm"]">@Html.DisplayNameFor(model => model.NetWorth)</a>
                </th>
                <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DaygainParm"]">@Html.DisplayNameFor(model => model.DayGain)</a>
                </th>
                <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DaygainPercentageParm"]">@Html.DisplayNameFor(model => model.DayGainPercentage)</a>
                </th>
                <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TotalgainParm"]">@Html.DisplayNameFor(model => model.TotalGain)</a>
                </th>
                <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TotalgainPercentageParm"]">@Html.DisplayNameFor(model => model.TotalGainPercentage)</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
            <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.DatePulled)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetWorth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayGain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayGainPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalGain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalGainPercentage)
            </td>
        </tr>
}
    </tbody>
</table>
